@import url("http://fonts.googleapis.com/css?family=Montserrat");
.zoomInLeft {
  animation-delay: 0.6s; }

* {
  box-sizing: border-box; }

.display-none {
  display: none; }

.links {
  color: white; }

.avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url("http://i.stack.imgur.com/8sNfT.png");
  /* make a square container */
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  overflow: hidden; }

.avatar-hidden {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background: #1ebeb1 none repeat scroll 0% 0%;
  opacity: .7;
  /* make a square container */
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  overflow: hidden; }

.left {
  position: fixed;
  padding: 100px;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  background: #F46F4D;
  transition: width ease .5s;
  /* Sass/Scss only:
    Using a selector (.open-nav) with an "&" afterward is actually selecting
  any parent selector. For instance, this outputs "body.open-nav .left { ... }"
  More info: http://thesassway.com/intermediate/referencing-parent-selectors-using-ampersand
  */ }
  body.open-nav .left {
    width: 250px; }
  .left ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .left ul li {
      margin-bottom: 25px;
      top: 0;
      left: 0; }

.name {
  color: #6b7c7e;
  font-family: montserrat, arial, verdana;
  font-size: 1.6rem; }

.signout {
  font-family: montserrat, arial, verdana;
  color: #bcc5c6;
  transition: color .30s ease-in-out; }

.signout:hover {
  color: #F46F4D;
  text-decoration: none; }

.right {
  position: relative;
  margin-left: 75px;
  transition: margin-left ease .5s; }
  body.open-nav .right {
    margin-left: 275px; }

.this-green {
  background-color: #7BBF6A;
  transition: 0.8s ease-in; }

.containerr {
  position: absolute;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -250px;
  background-color: #FEFEFE; }

.top {
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/ }

.chat {
  position: absolute;
  width: 500px;
  height: 40px;
  border-radius: 10px 10px 0 0;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -250px;
  background-color: #7BBF6A;
  color: white;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/ }

.plus {
  background-color: #009C30;
  margin-left: 30px; }

.plus-sign {
  font-size: 2rem; }

.wrapper {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -250px; }

.messages {
  position: absolute;
  width: 500px;
  height: 300px;
  border-radius: 0 0 10px 10px;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -250px;
  background-color: #F0ECEC; }

.wra {
  position: absolute;
  top: 25px;
  left: 40px; }

.send-messages {
  text-align: center;
  bottom: 0 !important;
  position: absolute;
  margin-bottom: 20px; }

.message-input {
  border-radius: 0px !important;
  background-color: #D0CFCF;
  border: none !important;
  width: 80%; }

.btn-send {
  width: 15%;
  margin-left: 20px;
  background-color: #77acd9;
  border: none !important; }

.btn-send:hover, .btn-send:active, .btn-send:focus {
  background-color: #77acd9;
  border: none !important; }

#content {
  margin-left: 15px;
  margin-top: 10px; }

.inner-containerr {
  font-family: montserrat, arial, verdana;
  color: #A0ADAF;
  font-size: 1.6rem;
  padding-left: 30px;
  padding-top: 20px; }

.inner-containerr a {
  font-family: montserrat, arial, verdana;
  color: #333; }

span.glyphicon {
  font-size: 4rem;
  transition: color .25s ease-in-out;
  color: #F46F4D;
  right: 40px;
  top: 30px;
  position: absolute; }

span.glyphicon:hover {
  color: #A7DDE9; }

.margin {
  margin-right: 15px; }

.badge {
  margin-top: -55px !important;
  margin-left: -10px !important;
  background-color: #F46F4D; }

/*# sourceMappingURL=dashboard.css.map */
